In [1]:
import pandas as pd
import random

data = []

for _ in range(2000):
    skills = random.randint(1, 15)
    projects = random.randint(0, 8)
    experience = random.randint(0, 3)
    certifications = random.randint(0, 5)
    internship = random.choice([0, 1])

    if skills >= 10 and projects >= 4 and experience >= 1:
        label = "Ready"
    elif skills >= 6 and projects >= 2:
        label = "Almost Ready"
    else:
        label = "Not Ready"

    data.append([
        skills, projects, experience,
        certifications, internship, label
    ])

df = pd.DataFrame(data, columns=[
    "skills_count",
    "projects_count",
    "experience_years",
    "certifications",
    "internship",
    "readiness_level"
])

df.to_csv("../data/career_data.csv", index=False)

df.head()

,skills_count,projects_count,experience_years,certifications,internship,readiness_level
0,2,7,3,2,1,Not Ready
1,14,8,2,0,1,Ready
2,15,1,1,0,0,Not Ready
3,6,0,1,3,0,Not Ready
4,3,6,2,0,0,Not Ready